<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="src/index.js" defer></script>
    <title>Custom Italian Cabinets</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <a href="/"><img class="logo" src="img/logo.bmp" alt="Custom Italian Cabinets logo"></a>
            <div class="hamburger-menu">☰</div>
            <ul class="nav-links">
                <li><a href="/about">ABOUT</a></li>
                <li class="separators"> | </li>
                <li><a href="/contact">CONTACT US</a></li>
                <li class="separators"> | </li>
                <li><a href="/gallery">GALLERY</a></li>
            </ul>
        </div>
 
    <div class="header second" id="subheader">

        <li>
            <ul> <a href="#">Kitchens</a></ul>
            <ul> | </ul>
            <ul> <a href="#">Custom Closets </a></ul>
            <ul > | </ul>
            <ul> <a href="#">Home Office </a></ul>
            <ul > | </ul>
            <ul> <a href="#"> Wall Units </a> </ul>
            <ul > | </ul>
            <ul> <a href="#"> Laundry Room </a> </ul>
        </li>
            
    </div>