    <%- include('partials/header') %>

    <form class="form" action="YOUR_SERVER_SIDE_ENDPOINT" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" required>how can we serve you</textarea>
        
        <button type="submit">Send</button>
      </form>
      
    
    <div class="quote-section">
        <h2>Contact Information</h2>
        <p><strong>Phone:</strong> (954) 594-4641</p>
        <p><strong>Email:</strong> info@customitaliancabinets.com</p>
        <p><strong>Address:</strong><br>
            5405 NW 102nd Avenue<br>
            Unit 208<br>
            Sunrise, FL 33351
        </p>
        <h3>Hours</h3>
        <p id="Mon">Monday: 9am - 6pm</p>
        <p id="Tue">Tuesday: 9am - 6pm</p>
        <p id="Wed">Wednesday: 9am - 6pm</p>
        <p id="Thu">Thursday: 9am - 6pm</p>
        <p id="Fri">Friday: 9am - 6pm</p>
        <p id="Sat">Saturday: 9am - 12pm</p>
        <p id="Sun">Sunday: Closed</p>
            
    </div>

    
    </div>
    
    <%- include('partials/footer') %>>