body {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1; /* Makes the container grow to occupy the available space */
}

main {
    flex: 1;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}


.header {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    background-color: #f1f0ee;
    gap: 30px;
    max-width: 2000px;
    align-self: center;
    width: 100%;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    z-index: 1;
    background-color: #39465e;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 100%;

    max-width: 2000px;

}

.nav-links a{
    color: #FFFFFF;
    font-weight: 700;
}


.hamburger-menu {
    display: none;
    color: black;
    font-weight: 100;
    cursor: pointer;
}

#subheader {
    background-color: gray;
    justify-content: center;
}

#subheader > li {
    justify-content: center;
}

.hero-text{
    display: flex;
    padding: 96px 100px;
    background-color:#FFFFFF;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #39465e;
    margin-bottom: 50px;

    
}

.hero-content {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    gap: 30px;
    flex-basis: 500px;
}



.image-blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 80px;
    flex-wrap: wrap; 
    flex-grow: 1;
}

.image-block {
    flex-shrink: 1;
    font-size: 18px;
    color: #58585a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 175px;
    
    
   
}

.image-block > img {
    /* border-style: solid;
    border-color:#3882f6;
    border-radius: 8px;/
    border-width: 3px; */
    max-width: 150px;
    
    

}

.info {
    padding: 50px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
}

.logo {
    width: 160px;

}

.logo:hover {
    background-color: none;
}

.hero-image {
    flex: 1;
    flex-basis: 45%;
    max-width: 600px;
    position: relative;
 
}
.carousel {
    display: grid;
}

.carousel-image {
    width: 100%;
    height: auto;
    grid-area: 1 / 1 / 2 / 2; /* All images in the same area */
    opacity: 0;
    opacity: 0; /* Start with images transparent */
    visibility: hidden; /* Hide images */
    transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* Transition for opacity and delay hiding */
}

.carousel-image.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease; /* Apply transition to opacity */
}

.quote-section, .about-content{
    display: flex;
    color:#000000;
    background-color: #576669;
    padding: 100px 100px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin:  40px 40px 0px 40px;
    max-width: 2000px;
}



.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #f1f0ee;
    max-width: 1200px;
    
}

.attribution {
    align-self: flex-end;
    font-weight: 500;
    font-size: 24px;
    max-width: 1200px;
    color: #f1f0ee;

}

.action {
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #34455d;
    display: flex;
    justify-content: center;
    align-self: center;
}


.action-content {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 100px;
}

.action-content div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.action-header {
    font-weight: 500;
    font-size: 28px;
}

.action-text {
    font-weight: 300;
    font-size: 18px;
}

.action-header, .action-text {
    margin: 0;
}

.action-header strong {
    font-weight: 800; /* Choose a value that makes it noticeably bolder than the surrounding text */
}

.action-button {
    border-radius: 8px;
    border: solid;
    border-color: #e5e7eb;
    border-width: 2px;
    padding: 10px 30px;
}

.footer {
    background-color: #1F2937;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    max-width: 2000px;
    width: 100%;
    align-self: center;
    padding: 50px 0;
}

ul, li {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}



button {

    background-color: #6b91c1;
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 8px;
    align-self: flex-start;
    font-size: 20px;

}

button:hover, a:hover {
    
    background-color: #f1f0ee; /* Darker on hover for contrast */
    color: #000000;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */

}
a {
    text-decoration: none;
    font-size: 18px;
}

.second {
    color: #b06b41;
    font-size: 24px;
    letter-spacing: 0.03cm;
    margin-bottom: 50px;
}

.logo {
    z-index: 10;
}

.about-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.video-overlay {
    position: relative;
    width: 100%;
    max-width: 2000px;
    height: 800px;
    align-self: center;
    overflow: hidden;
}

.about-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; /* Cover the container without losing aspect ratio */
}

.video-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Adjust text color as needed */
    text-shadow: 2px 2px 8px rgba(80, 74, 74, 0.7);
    z-index: 1; /* Ensure text appears above video */
}

.learn-more-button {
    padding: 10px 20px;
    background-color: #272727; /* Adjust button background color */
    color: white; /* Adjust button text color */
    text-decoration: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .hero-image {
        flex-basis: 100%; /* Take full width on smaller screens */
        min-width: 100%;
    }

    .carousel-image {
        width: calc(100% + 2 * 20px); /* Adjust the 96px based on the actual padding of .hero-text */
        max-width: none; /* Override any max-width set on the image */
        margin-left: -20px; /* Adjust the margin to offset the padding on the .hero-text */
        height: auto; /* To maintain the aspect ratio of the image */
    } 
    
    .action {
        margin: 0;
        border-radius: 0;
            margin-left: 20px;
            margin-right: 20px
    }

    .action-content {
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .hero-text{

        padding: 50px 20px 0px 20px;
        justify-content: center;
    
    }

    .quote-section {
        padding: 50px 50px;
    }

    button {
        align-self: normal;
    }
    .header {
        justify-content: space-evenly;
        
    }

    .separators {
        display: none;
    }

    .overlay-text {
        font-size: 30px;
    }

    .hamburger-menu {
        display: block;
    }

    .about-content {
        padding: 50px 25px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .nav-links {
        display: flex;
        position: relative;
        width: 100%;
        background-color:#f1f0ee;
        transition: opacity 0.7s ease-in-out;
        opacity: 1;
        visibility: visible;
        flex-direction: column;
        gap: 25px; /* Adjust based on your design */
        padding: 0px 0px 20px 0; /* Add some padding */
        top: 0; /* Start right below the header */
        left: 0;
        z-index: 0;
      }
      
    .nav-links a, .nav-links li a {
        color:#1F2937; /* or any color you wish to set */
        font-size: x-large;
        font-weight: 700;
      }
      
    .nav-links.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      }

    .main-content {
        position: relative;
        top: -180px;
        transition: margin-top 0.3s ease-in-out;
        z-index: 3;

      }
      
      /* Apply margin to main content when nav is open */
    .main-content.show-menu {
        margin-top: 180px; /* Adjust to accommodate the nav menu height */
        transition: margin-top 0.3s ease-in-out;
      }
     
    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .video-text-overlay h2 {
        font-size: 40px;
        margin-top: 10px;
    }
    
    .video-text-overlay p {
        font-size: 24px;
        padding: 0 20px;
    }

    .video-overlay {
        height: 0;
        padding-bottom: 85%

    }

    .about-video {
        width: 100%;
        height: 100%;
    }

    .quote-section {
        margin-left: 20px; 
        margin-right: 20px;
    }
    .map-container { 
        margin: 0 auto; /* Centers the container */
    }
    
    .gallery-container {
        flex-direction: column;
        padding: 20px;
      }
    
      .gallery-item {
        width: 100%; /* Full width */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto; /* Center the image container */
      }
    
      .gallery-item img {
        width: 100%; /* Make the image responsive */
        height: auto; /* Adjust height automatically */
      }
    
      .arrow {
        font-size: 20px; /* Adjust arrow size */
        width: 40px; /* Adjust arrow size */
        height: 40px; /* Adjust arrow size */
      }
    
      .arrow.left, .arrow.right {
        position: relative; /* Move arrows below the image */
        margin: 10px auto; /* Center arrows horizontally */
      }
    
      .arrow.left {
        left: 0; /* Reset left positioning */
      }
    
      .arrow.right {
        right: 0; /* Reset right positioning */
      }
    
        
}

@media (max-width: 360px)    {

    .video-overlay {
        padding-top: 40%;
    }
}



.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
}

.about {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color:#1F2937; 
    margin: 20px 20px; 
    padding: 20px; 
    border-radius: 8px;
    gap: 20px;
    max-width: 800px;
}

.about-image-container {
    display: flex;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 2000px;
}


.about-image-container.middle {
    max-height: 700px;
    margin: 50px 50px;
    max-width: 2000px;
    align-self: center;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: -.03em;
    margin: 0 0 .15em;
    font-weight: 700;
    text-shadow: 0 0 20px rgba(0,0,0,.3);
    z-index: 2;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-text {
    max-width: 1200px;
    
}

.about-content p {
    color:#f1f0ee;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    padding-bottom: 20px;
    

}


.gallery-intro {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
    margin-bottom: 50px;
    padding: 50px 0;

}

.gallery-intro h3 {
    font-weight: 200;
}

.gallery-intro p {
    font-size: 24px;
    padding: 20px;
    background-color: #5a7f9a;
    width: 80%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: white;
  }

  
  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Adjust based on preference */
  }

  .gallery-intro {
    width: 100%;
  }

/* General form styling */
.form {
    max-width: 800px;
    min-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-height: 800px;
    color: #333;
    flex: 1;
}

.form label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.form textarea {
    height: 150px;
    resize: vertical;
}

.form button[type="submit"] {
    cursor: pointer;
    background-color: #39465e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
    background-color: #2c3e50;
}

.contact {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e5e7eb;
    width: 100%;
    max-width: 2000px;

}

/* Contact information styling */
.contact-section {
    min-width: 500px;
    max-width: 800px;
    background-color: #f1f0ee;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.contact-section h2,
.contact-section h3 {
    color: #39465e;
    margin: 20px 0;
    font-size: 34px;

}

.contact-section p {
    color: #333;
    line-height: 1.6;
    font-size: 20px;
    margin: 20px;
}

.contact-email {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

/* Responsiveness */
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    .form, .contact-section {
        width: calc(100% - 80px);
        margin: 20px;
        min-width: 0;
    }

}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    /* For different aspect ratios, adjust the percentage accordingly. */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-item {
    transition: opacity 0.5s ease-in-out; /* Adjust timing as necessary */
    opacity: 1;
  }
  
  .gallery-item.fade {
    opacity: 0;
  }
  
  /* Navigation buttons styling */
  .gallery-button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #6b91c1;
    color: white;
    border-radius: 5px;
  }
  
  gallery-button:hover {
    background-color: #5a7f9a;
  }
  
  .gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .gallery-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    width: 600px; /* Static size */
    height: 400px; /* Static size */
    border: 4px solid #6b91c1; /* Nice border */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .gallery-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .gallery-button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #6b91c1;
    color: white;
    font-size: 24px; /* Adjust as needed */
    border-radius: 50%;
    width: 50px; /* Circular shape */
    height: 50px; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery-button.left {
    position: absolute;
    left: -60px; /* Adjust distance from the image */
  }
  
  .gallery-button.right {
    position: absolute;
    right: -60px; /* Adjust distance from the image */
  }
  
  /* Add transitions and hover effects for arrows if needed */
  .gallery-button:hover {
    background-color: #5a7f9a;
  }
  